/* You can add global styles to this file, and also import other style files */
html{
  background-attachment: fixed;
  background-image: url(./app/assets/Red\ &\ White\ Geometric\ Bold\ Simple\ Company\ Profile\ Presentation.png);
  background-repeat: repeat-y;
  background-size: cover;
  
}
