/* You can add global styles to this file, and also import other style files */
html{
  background-attachment: fixed;
  background-image: url('assets/hero-bg.png');
  background-repeat: repeat-y;
  background-size: cover;
  
}
