<div class="form-container">
<div class="topheader">
    <img  src="/assets/Tech.png" alt="Logo" class="logo main">
  
</div>
  <!-- HEADER WITH LOGO -->
  <div class="form-header">
    <img src="/assets/eitesal.png" alt="Logo" class="logo">
    <h2>Team Registration Form</h2>
   <img src="/assets/spo3.png" alt="Logo" class="logoe">
  </div>

  <form [formGroup]="form">

    <!-- PROJECT INFO -->
    <h3>Graduation Project Information</h3>
<div class="form-group">
  <label>Team Name *</label>
  <input formControlName="teamName">
  <small *ngIf="form.get('teamName')?.invalid && form.get('teamName')?.touched">
    Team Name is required.
  </small>
</div>

<div class="form-group">
  <label>Project Title *</label>
  <input formControlName="projectTitle">
  <small *ngIf="form.get('projectTitle')?.invalid && form.get('projectTitle')?.touched">
    Project Title is required.
  </small>
</div>

<div class="form-group">
  <label>Project Description *</label>
  <textarea formControlName="projectDescription"></textarea>
  <small *ngIf="form.get('projectDescription')?.invalid && form.get('projectDescription')?.touched">
    Project Description is required.
  </small>
</div>

<div class="form-group">
  <label>Supervisor Name *</label>
  <input formControlName="supervisorName">
  <small *ngIf="form.get('supervisorName')?.invalid && form.get('supervisorName')?.touched">
    Supervisor Name is required.
  </small>
</div>

<div class="form-group">
  <label>Supervisor Email *</label>
  <input formControlName="supervisorEmail">
  <small *ngIf="form.get('supervisorEmail')?.touched && form.get('supervisorEmail')?.invalid">
    <span *ngIf="form.get('supervisorEmail')?.errors?.['required']">Email is required.</span>
    <span *ngIf="form.get('supervisorEmail')?.errors?.['email']">Invalid email format.</span>
  </small>
</div>
<div class="form-group">
  <label>Governorate *</label>
  <select formControlName="teamGovernorate">
    <option value="">Select Governorate</option>
    <option *ngFor="let gov of governorates" [value]="gov">{{ gov }}</option>
  </select>
  <small class="error"
    *ngIf="form.get('governorate')?.invalid && form.get('governorate')?.touched">
    Governorate is required.
  </small>
</div>



  <h3>General Information</h3>

<div class="form-group">
  <label>Where did you hear about us? *</label>

  <select formControlName="hearAbout">
    <option value="">Select</option>
    <option>Facebook</option>
    <option>LinkedIn</option>
    <option>University</option>
    <option>Friend</option>
    <option>Instructor</option>
    <option>Event</option>
    <option>Other</option>
  </select>

  <small *ngIf="form.get('hearAbout')?.touched && form.get('hearAbout')?.invalid">
    This field is required
  </small>
</div>

<div class="form-group" *ngIf="form.get('hearAbout')?.value === 'Other'">
  <label>Please specify *</label>
  <input formControlName="hearAboutOther">

  <small *ngIf="form.get('hearAboutOther')?.touched && form.get('hearAboutOther')?.invalid">
    Please tell us where you heard about us
  </small>
</div>

    <!-- UNIVERSITY & TEAM INFO -->
    <div class="form-group">
      <label>University / Institution *</label>
      <input formControlName="university">
       <small class="error"
    *ngIf="form.get('university')?.invalid && form.get('university')?.touched">
    University is required.
  </small>
    </div>
    <div class="form-group">
      <label>Faculty / College *</label>
      <input formControlName="faculty">
       <small class="error"
    *ngIf="form.get('faculty')?.invalid && form.get('faculty')?.touched">
    Faculty is required.
  </small>
    </div>
    <div class="form-group">
      <label>Number of Team Members *</label>
      <input type="number" formControlName="membersCount">
      <small class="error"
    *ngIf="form.get('membersCount')?.touched && form.get('membersCount')?.invalid">

    <span *ngIf="form.get('membersCount')?.errors?.['required']">
      Number of members is required.
    </span>

    <span *ngIf="form.get('membersCount')?.errors?.['min']">
      Team must contain at least 1 member.
    </span>

  </small>
    </div>

   

 <!-- MEMBERS -->
<div formArrayName="members">
  <div *ngFor="let member of members.controls; let i = index" [formGroupName]="i" #memberCard class="member-box">
    <h4>Member {{ i + 1 }}</h4>

    <div class="form-group">
      <label>Full Name (EN) *</label>
      <input formControlName="fullNameEn">
      <small class="error" *ngIf="member.get('fullNameEn')?.touched && member.get('fullNameEn')?.invalid">
        Full Name (EN) is required.
      </small>
    </div>

    <div class="form-group">
      <label>Full Name (AR) *</label>
      <input formControlName="fullNameAr">
      <small class="error" *ngIf="member.get('fullNameAr')?.touched && member.get('fullNameAr')?.invalid">
        Full Name (AR) is required.
      </small>
    </div>

    <div class="form-group">
      <label>Email *</label>
      <input formControlName="email">
      <small class="error" *ngIf="member.get('email')?.touched && member.get('email')?.invalid">
        <span *ngIf="member.get('email')?.errors?.['required']">Email is required.</span>
        <span *ngIf="member.get('email')?.errors?.['email']">Email must be valid.</span>
      </small>
    </div>

    <div class="form-group">
      <label>Phone *</label>
      <input formControlName="phone">
      <small class="error" *ngIf="member.get('phone')?.touched && member.get('phone')?.invalid">
        <span *ngIf="member.get('phone')?.errors?.['required']">Phone is required.</span>
        <span *ngIf="member.get('phone')?.errors?.['pattern']">Phone must be a valid Egyptian number.</span>
      </small>
    </div>

    <div class="form-group">
      <label>Department *</label>
      <input formControlName="department">
      <small class="error" *ngIf="member.get('department')?.touched && member.get('department')?.invalid">
        Department is required.
      </small>
    </div>

    <div class="form-group">
      <label>Graduation Year *</label>
      <select formControlName="graduationYear">
    <option value="">Select Year</option>
    <option *ngFor="let year of graduationYears" [value]="year">{{ year }}</option>
  </select>
      <small class="error" *ngIf="member.get('graduationYear')?.touched && member.get('graduationYear')?.invalid">
        Graduation Year is required.
      </small>
    </div>

    <div class="form-group">
      <label>Gender *</label>
        <select formControlName="gender">
    <option value="">Select Gender</option>
    <option *ngFor="let g of genders" [value]="g">{{ g }}</option>
  </select>
      <small class="error" *ngIf="member.get('gender')?.touched && member.get('gender')?.invalid">
        Gender is required.
      </small>
    </div>

    <div class="form-group">
      <label>Governorate *</label>
<select formControlName="governorate">
    <option value="">Select Governorate</option>
    <option *ngFor="let gov of governorates" [value]="gov">{{ gov }}</option>
  </select>
      <small class="error" *ngIf="member.get('governorate')?.touched && member.get('governorate')?.invalid">
        Governorate is required.
      </small>
    </div>

    <div class="form-group">
      <label>National ID *</label>
      <input formControlName="nationalId">
      <small class="error" *ngIf="member.get('nationalId')?.touched && member.get('nationalId')?.invalid">
        <span *ngIf="member.get('nationalId')?.errors?.['required']">National ID is required.</span>
        <span *ngIf="member.get('nationalId')?.errors?.['pattern']">National ID must start with 2 or 3 and be 14 digits.</span>
      </small>
    </div>

    <button type="button" class="remove-btn" (click)="removeMember(i)">Remove Member</button>
  </div>
  
</div>


    <button type="button" class="add-btn" (click)="addMember()">Add Team Member</button>

    <hr>

    <!-- BUTTONS -->
    <div class="button-row">
      <button type="button" class="review-btn" (click)="goToReview()">Review Registration</button>
   </div>

  </form>

  <!-- SUCCESS / ERROR MESSAGES -->
  <div class="success" *ngIf="success">{{ success }}</div>
  <div class="error" *ngIf="error">{{ error }}</div>

</div>
